<table>
    <tr>
        <td>
            <a href="{{ site.baseurl }}/">
                <img src="{{ site.baseurl }}/images/logo.png" height="60" x alt="">
            </a>
        </td>
        <td><a href="{{site.baseurl}}/navigation/documentation/doc.md">Main Page</a></td>
        <td><a href="{{site.baseurl}}/navigation/documentation/rendering.md">Rendering</a></td>
        <td><a href="{{site.baseurl}}/navigation/section/documentation">Binary</a></td>
        <td><a href="https://github.com/Frogpants/Project-Bitshift">Bitshift Github</a></td>
    </tr>
</table>
